@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
}
li, a {
    text-decoration: none;
    list-style: none;
    color: white;
}
.header {
  width: 100%;
  height: 100vh;
  background: url("../img/bg-header.svg");
  background-size: cover;
}



/* Navbar/Menu */
.navbar{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    color: white;

}
.navbar .logo img{
    width: 25%;
}

.navbar .menu ul{   
    display: flex;
}
.navbar .menu li{
    padding: 0 10px;
    margin: 0 5px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbar .menu li a{
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 2px;
    color: white;
}

.navbar .menu li:hover{
    transition: .5s;
    background-color: #FFB068;
    border-radius: 7px;
}
li.ativo{
    transition: .5s;
    background-color: #FFB068;
    border-radius: 7px;  
}
.navbar .menu li:nth-child(1){
    animation: floatBlock 1.2s forwards;
}
.navbar .menu li:nth-child(2){
    animation: floatBlock 1s forwards;
}
.navbar .menu li:nth-child(3){
    animation: floatBlock .8s forwards;
}
.navbar .menu li:nth-child(4){
    animation: floatBlock .6s forwards;
}
.navbar .menu li:nth-child(5){
    animation: floatBlock .4s forwards;
}
.headerContent{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 85vh;
    width: 100%;
}
.headerContent .head{
    padding: 0 7rem;
    /* padding-left: 7rem; */
    /* padding-right: 4rem; */
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerContent .footer{
    /* margin-right: 7vw; */
    height: 20%;
    display: flex;
    align-self: flex-end;
    padding: 1rem;
    box-sizing: border-box;
}
.headerContent .footer div.tooltipFooter{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* padding: 1rem; */
    box-sizing: border-box;
}
.headerContent .footer div.arrowDropdown{
    display: flex;
    align-items: center;
}
.headerContent .footer img{
    z-index: 1;
    /* padding: 5px; */
    /* box-sizing: border-box; */
 max-height: 110%;
 /* max-width: 100%; */
}
.headerContent .cardProfile{
    /* background: #F4C95D; */
    color: #DD7230;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    /* height: 85%; */
    max-height: 470px;
    font-family: 'Jost', sans-serif;
    background-image: url('../img/bg-card-profile.png');
    background-size: cover;
    animation: floatBlock .9s forwards;
}
@keyframes floatBlock {
    from {
        opacity: 0;
        transform: translate3d(-200px, 0px, 0px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0px, 0px);
    }
}

/* Profile-Header */
.cardProfile .profileIcon img{
    width: 220px;
}

/* Profile-Sobre */

.cardProfile .sobre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    flex-direction: column;
}
.cardProfile .sobre p{
    border-bottom: solid 3px #DD7230;
    width: 65%;
    font-weight: 500;
}
.cardProfile .sobre span{
    font-style: italic;
    font-weight: 1000;
    width: 60%;
}

.redesSociais a i{
    color: #DD7230;
    font-size: 2rem;
    padding: 5px;
    border: solid 2px #DD7230;
    border-radius: 8px;
    margin: 0 10px;
    cursor: pointer;
}
.redesSociais a:hover i{
    animation: SocialRotate .7s forwards;
}
@keyframes SocialRotate {
    from{
        transform: rotate(90deg);
        transition: 1s;
    }to{
        transform: rotate(0deg);
        color: rgba(249, 155, 88, 100%);
        background: #DD7230;
    }
    
}

/* Slide */

.slideContent{
    animation: slideFloat 1s forwards;
    width: 700px;
    height: 60vh;
    /* background-color: #DD7230; */
}
.slideContent img{
    width: 100%;
    max-height: 60vh;

}
.slideContent .containerSlides div{
    display: none;
}
.slideContent .containerSlides div.ativo{
    display: flex;
    animation: tradeSlide 1s forwards;
}
@keyframes tradeSlide {
    from{
        opacity: 0;
        transform: translate3d(-100px, 0px, 0px);
    }to{
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}
.slideContent .referenceButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slideContent .circleReference{
    margin: 5px;
    width: 15px;
    height: 15px;
    background-color: #F4C95D;
    border-radius: 100%;
    animation: circleFloat 1.2s forwards;

}
@keyframes circleFloat {
    from{
        transform: translate3d(200px,0px, 0px);
        opacity: 0;
    }to{
        opacity: 1;
        transform: translate3d(0, 0px, 0px);

    }
}
.slideContent .circleReference.ativo{
    background-color: #DD7230;
}
.slideContent .circleReference:hover{
    transition: .3s;
    cursor: pointer;
    background-color: #DD7230;
}
@keyframes slideFloat {
    from {
        opacity: 0;
        position: unset;
        transform: translate3d(-200px,0px, 0px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0px, 0px);
    }
}

.containerTecnologia{
    background-image: url('../img/background-tecno.svg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: 'Jost', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 25px;
}
.containerTecnologia div.titulo{
    box-sizing: border-box;
}

/* ArrowBox Animate */
.boxArrowAnimate{
    display: flex;
    flex-direction: column;
    /* width: 50px; */
}
.boxArrowAnimate .item{
    background-image: url('../img/arrow-vector.svg');
    transform: rotate(180deg);
    background-size: cover;
    width: 53px;
    height: 30px;
    opacity: 1;
    background-color: red;
}

/* Accordion Tecnologia */
.boxTecnologia{
    font-family: 'Jost', sans-serif;
    display: flex;
    /* flex-direction: column; */
    /* margin-right: 6vw; */
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
    /* width: 60vw; */
}
.boxTecnologia .accordionItem{
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxTecnologia .circleTec{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background: rgba(255,255,255, .6);
}
.boxTecnologia .itemTec{
    background-image: url('../img/bg-accordion-tec.svg');
    background-size: cover;
    width: 280px;
    height: 120px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}
.itemTec h2{
    font-family: 'M Plus 1p', sans-serif;
}
.itemTec h2::before{
    content: '⮞';
}
.itemTec span, .itemTec h2{
    margin-left: 3.5rem;
    color: white;

}
    
